.nominations-enter {
    opacity: 0.01;
}
  
.nominations-enter.nominations-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
  
.nominations-leave {
    opacity: 1;
}
  
.nominations-leave.nominations-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}